#header {
    padding: 30px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999
}

#header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px
}

.logo {
    width: 67px;
    -ms-flex-preferred-size: 67px;
    flex-basis: 67px
}

#nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

#nav .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: -10px
}

#nav .social-list li {
    margin-right: 10px
}

#nav .social-list a {
    color: #4cb2f1;
    text-decoration: none;
    font-size: 27px
}

#nav .social-list a:hover {
    opacity: .8
}

#nav .social-list .icon-discord {
    color: #5579fe
}

#nav .menu-list {
    display: none;
    text-transform: uppercase
}

#nav .menu-list a {
    color: #fff;
    text-decoration: none;
    opacity: .8
}

#nav .menu-list a:hover {
    opacity: 1
}